.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 30px;
    overflow: hidden;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: uppercase;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 0.5rem;

}

.category-sport {background: var(--sports-color);}
.category-ent  {background: var(--ent-color);}
.category-tech {background: var(--tech-color);}

.btn {
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #fff;
    padding: 10px 20px;

}

.btn:hover {
    opacity: 0.7;
}

.btn-light { background: var(--light-color); }
.btn-primary { background: var(--primary-color)}
.btn-secondary { background: var(--secondary-color);}

.btn-block {
    display: block;
    width: 80%;
    text-align: center;
}
 
.bg-dark {
    background: var(--dark-color);
    color: #fff ;
}
.bg-primary {
    background: var(--primary-color);
    color: #fff ;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #fff ;
}

.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

.bg-dark h1, 
.bg-dark h2, 
.bg-dark h3 a,
.bg-drak a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1, 
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}
  
.list li {
    padding: 0.5rem;
    border-bottom: #555 dotted 1px;
    width: 90%;
} 

.list li a:hover {
    color: var(--primary-color) !important;
}

/* Inner page grid container */

  .page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem ;
    margin: 2rem;

}

.page-container > *:first-child {
    grid-row: 1 / span 3;
}

.l-hadding {
    font-weight: bold;
    font-size: 2.5rem;
}